h1 {
    color: var(--button-color);
    font-size: 28px;
    margin: 10px;
}

#infos {
    width: 100%;
}

.credit-info {
    border: 1px solid #fff;
    color: #fff;
    font-size: 28px;
    width: 80%;
    background: black;
    margin: 10px;
    border-radius: 50px;
    text-align: center;
}

.params {
    width: 20%;
    margin: 10px;
}

.params button {
    display: block;
    border-radius: 100%;
    padding: 2px;
    margin: 0 auto;
}

.icon {
    width: 28px;
    height: 28px;
    display: block;
}


/* Elements du jeu */
.coins {
    bottom: calc(-3vw);
    width: 100%;
    z-index: 500;
    position: fixed;
    justify-content: flex-end;
    transition: translate 1s;
}

.coins.out {
    translate: 0 20vw;
}

.coin {
    flex: 0.2 0;
    height: calc(18vw);
    background: black;
    border-radius: 100%;
    color: white;
    margin: 1vw;
    font-size: 30px;
    font-weight: bold;
    clip-path: polygon( 107% 40%, 91% 43%, 91% 57%, 107% 60%, 87% 95%, 77% 82%, 64% 89%, 70% 105%, 30% 105%, 36% 89%, 23% 82%, 13% 95%, -7% 60%, 9% 57%, 9% 43%, -7% 40%, 13% 5%, 23% 18%, 36% 11%, 30% -5%, 70% -5%, 64% 11%, 77% 18%, 87% 5%)
}

.card {
    aspect-ratio: 0.7;
    height: 26vh;
    background: blanchedalmond;
    margin: 0 -6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    border: 1px solid;
}

.card:hover {
    z-index: 1;
}

.card p {
    color: red;
    font-size: 20px;
    padding: 3px 0;
}

.card .hg_display {
    align-self: flex-start;
}

.card .c_display {
    font-size: 32px;
}

.card .bd_display {
    align-self: flex-end;
}

.help {
    text-align: center;
    font-style: italic;
    margin-bottom: 15px;
}

/* Style pout les boutons de jeu */

.button {
    padding: 0 5px;
}

.button input {
    padding: 15px;
    font-weight: bold;
}

.card.turn p {
    transition: visibility 0s 0.5s;
    visibility: hidden;
}


/* Style pour les boutons de paramètre */

.param-btn {
    position: absolute;
    right: 50px;
    padding: 15px;
}

.param-color {
    gap: 2%;
}

.param-color input {
    height: 30vh;
    margin: 10px 0;
}

@media (min-width: 426px) {
    #infos {
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    }

    .credit-info {
        width: 90%;
    }

    .params {
        width: 90%;
    }
}

@media (min-width: 426px) and (max-width: 1025px) {
    .coins {
        max-width: calc(100vw - 300px);
        margin-left: 300px;
    }
    .coin {
        width: calc(18vw - 60px );
        height: calc(18vw - 60px );
        max-width: 200px;
        max-height: 200px;
    }
}

@media (min-width: 1025px) {
    .coins {
        max-width: calc(100vw - 600px);
        margin-left: 300px;
    }

    .coin {
        width: calc(18vw - 120px);
        height: calc(18vw - 120px);
        max-width: 200px;
        max-height: 200px;
    }
}