h1 {
    color: var(--button-color);
    font-size: 28px;
    margin: 10px;
}

#infos {
    width: 100%;
}

.credit-info {
    border: 1px solid #fff;
    color: #fff;
    font-size: 28px;
    width: 80%;
    background: black;
    margin: 10px;
    border-radius: 50px;
    text-align: center;
}

.params {
    width: 20%;
    margin: 10px;
}

.params button {
    display: block;
    border-radius: 100%;
    padding: 2px;
    margin: 0 auto;
}

.icon {
    width: 28px;
    height: 28px;
    display: block;
}


/* Elements du jeu */
.card {
    aspect-ratio: 0.7;
    height: 26vh;
    background: blanchedalmond;
    margin: 0 -6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    border: 1px solid;
}

.card:hover {
    z-index: 1;
}

.card p {
    color: red;
    font-size: 20px;
    padding: 3px 0;
}

.card .hg_display {
    align-self: flex-start;
}

.card .c_display {
    font-size: 32px;
}

.card .bd_display {
    align-self: flex-end;
}

.help {
    text-align: center;
    font-style: italic;
    margin-bottom: 15px;
}

/* Style pout les boutons de jeu */

.button {
    padding: 0 5px;
}

.button input {
    padding: 15px;
    font-weight: bold;
}

.card.turn p {
    transition: visibility 0s 0.5s;
    visibility: hidden;
}


/* Style pour les boutons de paramètre */

.param-btn {
    position: absolute;
    right: 50px;
    padding: 15px;
}

.param-color {
    gap: 2%;
}

.param-color input {
    height: 30vh;
    margin: 10px 0;
}

@media (min-width: 426px) {
    #infos {
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    }

    .credit-info {
        width: 90%;
    }

    .params {
        width: 90%;
    }
}